<form data-ng-submit="save()">
  <label for="name">Light Name</label>
  <input type="text" name="name" data-ng-model="name">

  <label for="bridgelightid">Bridge Light Id</label>
  <input type="text" name="bridgelightid" data-ng-model="bridgeLightId">

  <h3>Groups</h3>
  <div data-ng-repeat="group in groups" data-ng-if="groups && groups.length > 0">
    <input type="text" name="groups" data-ng-model="group">
    <button type="button" name="button" data-ng-click="removeGroup(group)">X</button>
  </div>

  <div>
    <input type="text" name="groups" data-ng-model="newGroup">
    <button type="button" name="button" data-ng-click="addGroup()">+</button>
  </div>

  <h3>Defaults</h3>
  <label for="light">Light</label>
  <input type="radio" name="state" value="true" data-ng-model="state"> ON <br>
  <input type="radio" name="state" value="false" data-ng-model="state"> OFF <br>

  <label for="color">Color:</label>
  <input type="text" name="color" data-ng-model="color">

  <label for="brightness">Brightness:</label>
  <input type="text" name="brightness" data-ng-model="brightness">

  <label for="alert">Alert</label>
  <select name="alert" data-ng-model="alert">
    <option value="none">None</option>
    <option value="select">1x</option>
    <option value="lselect">15x</option>
  </select>

  <label for="colorloop">Color Loop: </label>
  <input type="radio" name="colorloop" value="colorloop" data-ng-model="colorloop"> ON <br>
  <input type="radio" name="colorloop" value="none" data-ng-model="colorloop"> OFF <br>

  <button type="submit" name="save">Save Changes</button>
  <ng-transclude></ng-transclude>
</form>
