<section>
  <nav-bar class="nav"></nav-bar>
  <article class="dashboard">
    <article>
      <section class="button center" >
        <a href="/#/bridge">
          <h2>Create Bridge</h2>
            <p><i class="fa fa-exchange" aria-hidden="true"></i></p>
        <p>
          In order to create new lights you must first a Bridge.
        </p>
        </a>
      </section>
      <section class="secondary center">
        <a href="/#/light/create">
        <h2>Create Light</h2>
          <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i></p>
          <p>
            Go here to create a new light.
            Give it default settings and be able to manipulate it ever after.
          </p>
        </a>
      </section>
    </article>
    <article>
      <section class="secondary center">
        <a href="/#/light/all">
          <h2>All Lights</h2>
          <p><i class="fa fa-circle-o" aria-hidden="true"></i></p>
          <p>
            Go here to manipulate all of your lights at once!
          </p>
      </a>
      </section>
      <section class="button center">
        <a href="/#/group">
        <h2>Light Groups</h2>
        <p><i class="fa fa-users" aria-hidden="true"></i></p>
        <p>
          Want only the basement lights to be red?
          Go here to selectly change lights by group.
        </p>
      </a>
      </section>
    </article>
    <article>
      <section class="pink center">
        <a href="/#/logout">
          <h2>Logout</h2>
        <p><i class="fa fa-sign-out" aria-hidden="true"></i></p>
        <p>
          Don't want your kids fiddling with the lights?
          Logout here.
        </p>
      </a>
      </section>
    </article>
  </article>
</section>
