<article>
      <section>
        <a href="/#/bridge">Create Bridge</a>
        <p><a href="/#/bridge"><i class="fa fa-exchange" aria-hidden="true"></i></a></p>
        <p>
          In order to create new lights you must first a Bridge
        </p>
      </section>
      <section>
        <a href="/#/light/create">Create Light</a>
        <p><a href="/#/light/create"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a></p>
        <p>
          Go here to create a new light. Give it default settings and be able to manipulate it ever after.
        </p>
      </section>
      <section>
        <a href="/#/light/all">All Lights</a>
        <p><a href="/#/light/all"><i class="fa fa-circle-o" aria-hidden="true"></i></a></p>
        <p>
          Go here to manipulate all of your lights at once!
        </p>
      </section>
      <section>
        <a href="/#/group">Light Groups</a>
        <p><a href="/#/group"><i class="fa fa-users" aria-hidden="true"></i></a></p>
        <p>
          Want only the basement lights to be red? Go here to selectly change lights by group.
        </p>
      </section>
      <section>
        <a href="/#/logout">Logout</a>
        <p><a href="/#/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></p>
        <p>
          Don't want your kids fiddling with the lights? Logout here.
        </p>
      </section>
    </ul>
  </nav>
  <nav-bar></nav-bar>
</article>
