<article class="light" data-ng-init="lightCtrl.getLight()">
  <h3 data-ng-if="!lightCtrl.editing">{{lightCtrl.name}}</h3>
  <button type="button" data-ng-click="lightCtrl.editing=true" data-ng-if="!lightCtrl.editing">edit</button>
  <control-panel data-target="lightCtrl.id" data-ng-if="!lightCtrl.editing"></control-panel>
  <light-form data-target="lightCtrl.id" data-ng-if="lightCtrl.editing"><button type="button" data-ng-click="lightCtrl.editing=false">Cancel</button></light-form>
  <h3 data-ng-if="!lightCtrl.editing">Groups</h3>
  <ul data-ng-init="lightCtrl.getGroups(lightCtrl.id)" data-ng-if="!lightCtrl.editing">
    <li data-ng-repeat="group in lightCtrl.groups track by $index"><a href="/#/group/{{group}}">
      {{group}}
    </a></li>
  </ul>
</article>
