/* Colors */

$headerColor: #2c4f70;
$darkblue: $headerColor;
$sidebarColor: #606278;
$green: #79fac5;
$pink: #f56bed;
$blue: #66b9ff;
$backgroundColor: #f0f0f0;
$yellow: #fffe9b;
$darkgrey: #515151;

/* Layout */

$corner: 5px;
$margin: 10px;
$padding: 10px;
