header {
  width: 100%;
  background-color: $headerColor;
  height: 125px;
  margin-bottom: 30px;
  position: relative;
  z-index: 50;
}

.logo {
  height: 160px;
  position: relative;
  margin-left: 20px;
  z-index: 100;
}

.logout {
  line-height: 125px;
  font-size: 2.7em;
  position: absolute;
  right: 20px;
  a {
    color: #ffffff;
  }
}
.center {
  text-align: center;
}
