header {
  width: 100%;
  background-color: $headerColor;
  height: 125px;
  margin-bottom: 30px;
  position: relative;
  z-index: 50;
}

.logo {
  height: 160px;
  position: relative;
  margin-left: 20px;
  z-index: 100;
}

.logout {
  color: black;
  margin-top: 30px;
  font-size: 70px;
  position: absolute;
  right: 100px;
}
