nav {
  .background {
    width: 130px;
    height: calc(100% + 40px);
    background: $sidebarColor;
    position: fixed;
    top:0;
    left:0;
    z-index: 0;
  }
}

nav ul {
  width: 110px;
  text-align: center;
  margin-top: 20px;
  margin-left: 0px;
  position: absolute;
  z-index: 50;
  top: 0;
  li {
    list-style: none;
    font-size: 2.6em;
    width: 100%;
    text-align: center;
    margin: 0px 0px 50px 0px;
  }
  a {
    color: #ffffff;
    cursor: pointer;
  }
}

.nav + article {
  width: calc(100% - 130px);
  margin-left: 130px;
}
