.alert-button {
  margin-right: 10px;
  float: left;
  background-color: $blue;
  border-color: $blue;
  color: #ffffff;
  width: auto;
  font-size: 1em;
  clear: none;
}
.alert-button:hover {
  background-color: darken($blue, 15%);
}
