.button {
  @include rounded($green);
  background-color: $green;
  color: black;
  width: 100%;
  margin-bottom: $margin;
  cursor: pointer;
  transition: all 0.5s ease;
  display: block;
  text-decoration: none;
  max-width: $maxWidth;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  :hover {
    background-color: darken($green, 15%);
    border-color: $green;
  }
}
.button:hover {
  background-color: darken($green, 15%);
  border-color: $green;
}
.secondary {
  background-color: $blue;
  border-color: $blue;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}
.secondary:hover {
  background-color: darken($blue, 15%);
  border-color: $blue;
}
