.group-item input, .group-item-new input {
  width: calc(100% - 50px);
  float: left;
}

.group-item button, .group-item-new button{
  width: 40px;
  margin-left: 10px;
  float: left;
}

.group-item button{
  background-color: $pink;
  border-color: $pink;
  color: #ffffff;
}
.group-item button:hover {
  background-color: darken($pink, 15%);
}

.group-item-new button{
  color: #ffffff;
}
