.pink {
  background-color: $pink;
  border-color: $pink;
  @include rounded($pink);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}

.pink:hover {
  background-color: darken($pink, 15%);
  border-color: $pink;
}
