* {
  box-sizing: border-box;
}
body {
  background-color: $backgroundColor;
  font-family: 'Open Sans', sans-serif;
}
select {
  margin-bottom: $margin;
}
form {
  clear: both;
}
label {
  width: 100%;
  color: $darkgrey;
  clear: both;
  display: block;
  margin-bottom: $margin/2;
}
input {
  @include rounded($darkgrey);
  background-color: white;
  color: #666666;
  width: 100%;
  margin-bottom: $margin;
  font-size: 1em;
}
button {
  @include rounded($green);
  background-color: $green;
  color: black;
  width: 100%;
  margin-bottom: $margin;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 1em;
}
button:hover {
  background-color: darken($green, 15%);
}
a {
  color: $darkblue;
  font-size: 1em;
}
p {
  margin: $margin 0px;
  font-size: 1em;
  line-height: 1.3em;
}
h1, h2, h3 {
  color: $darkgrey;
  margin-bottom: $margin;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
main {
  margin: $margin;
  position: relative;
}
ul {
  margin: $margin;
  li {
    list-style: disc;
    margin: $margin;
  }
}
